.hero {
  text-align: center;
  padding: 90px 0;
  background-color: #DCFFFF;

  .heading {

  }

  .sub-heading {
    font-size: 20px;
  }
}

.features {
  padding-top: 50px;

  .feature.upcoming {
    color: #B1B1B1;
  }

  .octicon {
    font-size: 28px;
  }

  .feature-icon {
    color: #5A5A5A;
    display: inline-block;
    margin-right: 5px;
  }

  .feature-heading {
    font-size: 1.4em;
  }

  .feature-desc {
    font-size: 15px;
    margin-top: 0.5em;
  }
}
