.navbar {
  border-radius: 0;
  padding: 0.8rem 1rem;
  background-color: #34495e;

  .navbar-brand {
    text-transform: uppercase;
    margin-right: 60px;
  }

  .nav-link {
    color: rgba(255, 255, 255, 0.75);
  }

  .logo {
    width: 40px;
  }
}
