.navbar-slim {
  border-radius: 0;
  background-color: #F5F5F5;
  padding: 0;

  .navbar-brand {
    margin-right: 60px;
    color: black;
    padding: 0;
  }

  .nav-link {
    color: black;
  }

  .avatar {
    width: 20px;
  }
}
