.main-hero {
  text-align: center;
  padding: 150px 0 120px;

  h1 {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .diagram-summary {
    .octicon {
      font-size: 90px;
    }

    .octicon-arrow-right {
      margin: 0 35px;
    }
  }
}

.workflow {
  text-align: center;

  .workflow-item.vym-specific {
    .workflow-icon {
      background-color: #83CEBE;
      color: white;
      border: none;
    }

    .workflow-name {
      color: #2D2D2D;
    }
  }

  .workflow-item {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 30px;

    .workflow-icon {
      border: 1px solid #B9B9B9;
      border-radius: 3px;
      padding: 2.8em 3.2em;

      .octicon, .fa {
        font-size: 55px;
      }
    }
  }

  .workflow-name {
    margin-top: 10px;
    color: gray;
    font-weight: 500;
    font-size: 18px;
  }
}

.demo {
  text-align: center;
  img {
    width: 900px;
  }

  .big-title {
    margin-bottom: 20px;
  }
}

.home {
  .heading {
    margin-bottom: 50px;
  }
}

.pricing {
  .pricing-title {
    margin-bottom: 20px;
  }

  .bulk-inquiry {
    padding-top: 2em;
    color: #717171;
  }

  .plan {
    text-align: center;
    border: 2px solid #ABABAB;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 5px;

    .plan-name {
      font-size: 1.2em;
      margin-bottom: 30px;
      text-transform: uppercase;
    }

    .price, .frequency {
      display: inline-block;
      margin-bottom: 30px;
    }

    .price {
      font-size: 2em;
    }

    .frequency {
      margin-left: 11px;
    }

    .quantity {
      font-weight: 600;
      color: #000;
    }

    .offer {
      color: #717171;
      font-weight: 500;
    }
  }
}
