.main-hero {
  text-align: center;
  padding: 150px 0 120px;

  h1 {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .diagram-summary {
    .octicon {
      font-size: 90px;
    }

    .octicon-arrow-right {
      margin: 0 35px;
    }
  }
}

.home {
  .section {
    padding-top: 4em;
    padding-bottom: 4em;

    .heading {
      margin-bottom: 50px;
    }
  }
}

.workflow {
  text-align: center;

  .workflow-item.vym-specific {
    .workflow-icon {
      background-color: #83CEBE;
      color: white;
      border: none;
    }

    .workflow-name {
      color: #2D2D2D;
    }
  }

  .workflow-item {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 30px;

    .workflow-icon {
      border: 1px solid #B9B9B9;
      border-radius: 3px;
      padding: 2.8em 3.2em;

      .octicon, .fa {
        font-size: 55px;
      }
    }
  }

  .workflow-name {
    margin-top: 10px;
    color: gray;
    font-weight: 500;
    font-size: 18px;
  }
}

.demo {
  text-align: center;
  img {
    width: 900px;
  }

  // Yosemite safari
  .window {
    // background: #fff;
    // width: 50%;
    display: inline-block;
    // height: 75%;
    // margin: auto;
    border: 1px solid #acacac;
    border-radius: 6px;
    box-shadow: 0px 0px 20px #acacac;
    // left: 25%;
    // top: 12.5%;

    .titlebar {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #e1dfe1, color-stop(1.0, #d5d3d5)));
      background: -webkit-linear-gradient(top, #e1dfe1, #d5d3d5);
      background: -moz-linear-gradient(top, #e1dfe1, #d5d3d5);
      background: -ms-linear-gradient(top, #e1dfe1, #d5d3d5);
      background: -o-linear-gradient(top, #e1dfe1, #d5d3d5);
      background: linear-gradient(top, #e1dfe1, #d5d3d5);
      // color: #4d494d;
      // font-size: 11pt;
      // line-height: 20px;
      // text-align: center;
      // width: 100%;
      height: 37px;
      border-top: 1px solid #f2f1f2;
      border-bottom: 1px solid #b5b3b5;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      // cursor: default;
    }

    .buttons {
      padding-left: 8px;
      padding-top: 11px;
      float: left;
      line-height: 0px;

    	&:hover a {
    		visibility: visible;
    	}
    }


    .close-btn {
      background: #ff5c5c;
      font-size: 9pt;
      width: 11px;
      height: 11px;
      border: 1px solid #e33e41;
      border-radius: 50%;
      display: inline-block;
    }

    .minimize {
      background: #ffbd4c;
      font-size: 9pt;
      line-height: 11px;
      margin-left: 6px;
      width: 11px;
      height: 11px;
      border: 1px solid #e09e3e;
      border-radius: 50%;
      display: inline-block;
    }

    .zoom {
      background: #00ca56;
      font-size: 9pt;
      line-height: 11px;
      margin-left: 6px;
      width: 11px;
      height: 11px;
      border: 1px solid #14ae46;
      border-radius: 50%;
      display: inline-block;
    }

    .url-address {
      width: 340px;
      top: 9px;
      height: 20px;
      left: 50%;
      margin-left: -156px;
      border-radius: 3px;
      display: block;
      position: absolute;
      box-shadow: 0 1px 0 rgba(0,0,0,0.12);
      background: #FDFDFD;
      background: -webkit-linear-gradient(top, #FEFEFE 0%, #F2F2F2 100%);
      background: linear-gradient(to bottom, #FEFEFE 0%, #F2F2F2 100%);
    }

  }
}

.pricing {
  .pricing-title {
    margin-bottom: 20px;
  }

  .bulk-inquiry {
    padding-top: 2em;
    color: #717171;
  }

  .plan {
    text-align: center;
    border: 2px solid #ABABAB;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 5px;

    .plan-name {
      font-size: 1.2em;
      margin-bottom: 30px;
      text-transform: uppercase;
    }

    .price, .frequency {
      display: inline-block;
      margin-bottom: 30px;
    }

    .price {
      font-size: 2em;
    }

    .frequency {
      margin-left: 11px;
    }

    .quantity {
      font-weight: 600;
      color: #000;
    }

    .offer {
      color: #717171;
      font-weight: 500;
    }
  }
}
