.new-sd-form {
  padding: 2em;
}

.repo {

  .info-container {
    overflow: auto;
    margin-bottom: 30px;
  }

  .repo-name {
    font-size: 1.5em;

    @include screen(xsmall) {
      text-align: center;
      font-size: 1.2em;
      margin-bottom: 15px;
    }
  }

  .slides-menu {
    margin-bottom: 15px;
  }
}
