.new-sd-form {
  padding: 2em;
}

.repo {

  .info-container {
    overflow: auto;
    margin-bottom: 30px;
  }

  .repo-name {
    font-size: 1.5em;

    @include screen(xsmall) {
      text-align: center;
      font-size: 1.2em;
      margin-bottom: 15px;
    }
  }

  .slides-menu {
    margin-bottom: 15px;
  }
}

.sd-form {
  margin-top: 20px;

  .sd-form-section {
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid #efefef;
  }
}
