.repo-item-link {
  padding: 1em;
  display: block;
  color: inherit;

  &:hover {
    text-decoration: none;
    background-color: #efefef;
  }
}

.repo-item-description {
  color: #8E8E8E;
  font-size: 80%;
  margin-bottom: 0;
}

.repo-management {
  .repo-item {
    overflow: auto;
    padding: 0.5em 0 0.5em 0;
    border-bottom: 1px solid #efefef;
  }
}
