.presentation {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.se-slide-container {
  flex: auto;
  display: flex;
}

.se-status-bar {
  height: 30px;
  background-color: #424242;
  color: white;
  padding: 0 2em;

  .current-progress {
    display: inline-block;
  }

  .actions {
    display: inline-block;
  }
}

.slide {
  flex: auto;
  flex-direction: column;
  padding: 2em 3em;
  display: flex;
  background-color: white; // TODO: make this customizable

  .horizontal-double, .vertical-double {
    display: flex;
    flex-direction: column;

    .section-container {
      flex: auto;
      overflow: auto;
    }
  }
}

.slide {
  // background-color: white;
}

.add-file-box {
  text-align: center;
  font-size: 35px;
  border: 1px solid black;
}

.slide-section {
  width: auto;

  .section-file {
    height: 100%;
  }
}

.horizontal-double {
  .section-container {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
}
