.slide-engine {
  display: flex;
  flex-flow: column;
  height: 100vh;

  .se-slide-container {
    flex: auto;
  }

  .se-status-bar {
    height: 30px;
    background-color: #424242;
    color: white;
    padding: 0 2em;

    .current-progress {
      display: inline-block;
    }

    .actions {
      display: inline-block;
    }
  }
}

.slide {
  // padding: 2em 3em;
  // height: 100vh;
}

.add-file-box {
  text-align: center;
  font-size: 35px;
  border: 1px solid black;
}

.slide-section {
  width: auto;

  .section-file {
    height: 100%;
  }
}

.horizontal-double {
  .section-container {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
}
