.presentation {
  display: flex;
  flex-flow: column;
  height: 100vh;

  .pres-meta {
    margin-left: 20px;
    display: inline-block;
  }
}

.slide {
  flex: auto;
  // flex-direction: column;
  padding: 2em 3em;
  display: flex;
  background-color: white; // TODO: make this customizable
  width: 100%;

  .horizontal-double, .vertical-double {
    display: flex;
    flex-direction: column;
    width: 100%;

    .section-container {
      flex: 1 1 500px;
      overflow: auto;
    }
  }

  .vertical-double {
    .slide-section {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .section-container {
      display: flex;
    }
  }

  .horizontal-double {
    .slide-section {
      flex: auto;
      display: flex;
      flex-direction: column;
    }

    .section-container {
      display: flex;
      flex-direction: column;
    }
  }
}

.single {
  .slide-section {
    flex: auto;
    display: flex;
  }
}

.add-file-box {
  text-align: center;
  font-size: 35px;
  border: 1px solid black;
}

.slide-section {

  // .section-file {
  //   height: 100%;
  // }

  .empty-section {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .add-section-tool {
      .add-text-btn {
        margin-left: 5px;
      }
    }
  }
}

.horizontal-double {
  .section-container {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
}
