.pres-status-bar {
  height: 30px;
  background-color: #424242;
  color: white;
  padding: 0 2em;

  .user-list {

    .user-list-avatar {
      width: 24px;
    }

    li {
      display: inline-block;
      margin-left: 3px;
    }
  }

  .current-progress {
    display: inline-block;
    padding: 0 2em;
  }

  .navgiation {
    display: inline-block;
  }
}
