.preview-section {
  border-right: 1px solid #A5AAA9;
  background-color: $wz-toolbar-color;
  padding-top: 20px;
  padding-bottom: 20px;
}

.preview-container {
  margin-top: 65px;
  height: calc(100vh - #{$navbar-height} - 65px);
  overflow-y: scroll;
}

.action-bar {
  background-color: #222C35;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  margin-bottom: 15px;
  max-height: 50px;
  position: fixed;
}

.slide-actions {

  li {
    margin-right: 10px;
    display: inline-block;
  }

  a {
    color: #fff;

    &.disabled {
      color: #818a91;
      cursor: not-allowed;
    }
  }
}

.thumbnail-wrapper {
  width: 210px;
  height: 156px;
  margin-bottom: 20px;
  padding: 0;
  overflow: hidden;
  float: left;
  cursor: pointer;

  &.active {
    border: 2.5px solid #7EC3CE;
  }

  .thumbnail-iframe {
    width: 1480px;
    height: 1086px;
    border: 1px solid black;
    -moz-transform: scale(0.14);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.14);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.14);
    -webkit-transform-origin: 0 0;

    pointer-events: none;
  }
}
