.preview-section {
  border-right: 1px solid #A5AAA9;
  background-color: $wz-toolbar-color;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: auto;
}

.thumbnail-item  {
}

.thumbnail-content {
  height: 900px;
  display: flex;
}

.thumbnail-wrapper {
  width: 205px;
  height: 130px;
  margin-bottom: 20px;
  padding: 0;
  overflow: hidden;
  float: left;
  cursor: pointer;

  &.active {
    border: 2.5px solid #7EC3CE;
  }

  .thumbnail-iframe {
    width: 1480px;
    height: 900px;
    border: 1px solid black;
    -moz-transform: scale(0.14);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.14);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.14);
    -webkit-transform-origin: 0 0;

    pointer-events: none;
  }
}
