.slide-frame {
  background-color: $wz-toolbar-color;
  display: flex;
  padding: 3em 4em;

  .wz-slide {
    flex: 1;
    background-color: #fff;
  }
}

.slide-menu-bar {
  background-color: #334554;
  padding-top: 12px;
  padding-bottom: 10px;
  color: #fff;
  height: 50px;
}

.slide-settings-container {
  background-color: #EAEAEA;
}

.slide-settings {
  padding: 2em;
}
