.wz-header {
  overflow: auto;
  height: 70px;
  background-color: #ffffff;
}

.wz-branding-container {
  width: 40px;
  height: 100%;
  background-color: #FFF0B9;
  display: inline-block;
  float: left;

  .wz-branding {
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
  }
}

.wz-meta {
  display: inline-block;
  margin-left: 20px;
  height: 100%;
  padding-top: 5px;

  .wz-slide-title {
    font-size: 21px;
  }

  .wz-pr-title {
    display: inline-block;
    margin-left: 5px;

    a {
      color: #0275d8;
    }
  }
}

.wz-actions {
  float: right;
  height: 100%;
  padding-top: 10px;
  padding-right: 17px;

  .btn {
    margin-right: 6px;
  }
}

.wz-toolbar {
  background-color: $wz-toolbar-color;
  border-bottom: 1px solid $wz-toolbar-border-color;
  padding: 3px 0px;

  .separator {
    border-left: 1px solid #ccc;
    height: 100%;
    margin: 0 2px;
    display: inline-block;
  }
}

.wz-toolbar-action {
  display: inline-block;
  padding: 4px 11px;
  border-radius: 1px;
  cursor: pointer;
  border: 1px solid $wz-toolbar-color;

  &:hover {
    border: 1px solid #c6c6c6;
  }
}
