.wz-layout {
  height: 100vh;
  display: flex;
  flex-flow: column;

  .slide {
    font-size: 10px;
  }
}

.wz-topbar {
  flex: auto;

  .wz-last-saved-at {
    margin-left: 40px;
  }

  .wz-type-selector {
    .dropdown-item.active {
      background-color: #FFF0B9;
    }
  }

  a {
    color: inherit;

     &:hover {
       text-decoration: none;
     }
  }
}

.wz-content {
  flex: auto;
  display: flex;

  .wz-content-container {
    flex: 1 1 auto;
    display: flex;

    .wz-content-box {
      flex: 1 0;
    }
  }

  .empty-section {
    border: 1px solid #DADADA;
    border-radius: 2px;
  }
}

.file-list-container {
  .file-list-action {
    margin-bottom: 10px;

    .remove-section-btn {
        font-size: 20px;
    }
  }

  .tree-browser {
    width: 100%;
    background-color: #F1F1F1;
    font-size: 13px;

    .file-row {
      cursor: pointer;
    }
  }
}
