.slide-container {
  max-height: calc(100vh - #{$navbar-height});
}

.slide-menu-bar {
  background-color: #303837;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  margin-bottom: 15px;
}
