.slide-container {
  max-height: calc(100vh - #{$navbar-height});
}

.slide-menu-bar {
  background-color: #334554;
  padding-top: 12px;
  padding-bottom: 10px;
  color: #fff;
  height: 50px;
}

.slide-settings-container {
  background-color: #EAEAEA;
}

.slide-settings {
  padding: 2em;
}
