.wz-layout {
  height: 100vh;
  display: flex;
  flex-flow: column;

  .slide {
    font-size: 10px;
  }
}

.wz-topbar {
  flex: 0 1 auto;

  .wz-last-saved-at {
    margin-left: 40px;
  }

  .wz-type-selector {
    .dropdown-item.active {
      background-color: #FFF0B9;
    }
  }

  a {
    color: inherit;

     &:hover {
       text-decoration: none;
     }
  }
}

.wz-content {
  flex: 1 1 auto;
  display: flex;

  .wz-content-container {
    flex: 1 1 auto;
    display: flex;

    .wz-content-box {
      flex: 1 0;
    }
  }
}
